<div class="col-md-10 col-md-offset-1">
  <h2>
  	Comparison List
  </h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Weeks</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
  <% @cart.camps.each do |camp| %>
    <tr>      
        <td><%= camp.name %></td>
        <td><%= camp.weeks %></td>
        <td><%= camp.cost %></td>      
    <tr>
      <% end %>
  </tbody>
 </table>
</div>