<body>
<!-- Section #1 -->
<section id="intro">
  <div class="container-head">
    <div class="row-fluid text-center top-buffer">
        <h2><%= render "typer" %><h2>
      	<div class="container top-buffer">
        <div class="span4">
          <a href="#search."><img src="/images/search_icon.png"></a>
          <h3>Search</h3>
        </div>
        <div class="span4">
         <a href="#search."><img src="/images/code_icon.png"></a>
          <h3>Coding Bootcamps</h3>
        </div>
        <div class="span4">
        <a href="/compares"><img src="/images/compare_icon.png"></a>
          <h3>And Compare</h3>
        </div>
        </div>
    </div>
  </div> 
</section>
	<!-- Section #2 -->
<section id="body">
    <a name="search."></a>
	<div class="searchbar-overlay-body">
        <%= render "/layouts/search_bar" %>
    </div>
    <div style='width: 95%; margin: 0 auto;'>
      	<div id="map" class="google-maps">
    	   <%= render "gmap" %>
      	</div>
	</div>
</section>
<!-- Section #3 -->
<section id="about" class="parallax-section">
    <%= render "footer" %>
</section>
</body>

</html>