// Place all the styles related to the camps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

		#intro {
			background-color: rgb(225,163,163); 
			background: url(/images/bg1.jpg) 100% 100% fixed no-repeat; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 250px 0;
		}
		#home { 
			background-color: rgb(227,255,254);
			background: url(/images/bg2.jpg) 50% 0 fixed no-repeat; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 100px 0;
		}
		#about { 
			background-color: rgb(225,163,163);
			background: url(/images/bg1.jpg) 100% 15% fixed no-repeat; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 20px 0;
		}
		
		.parallax-section {position: static !important;}

@media handheld, only screen and (max-width: 640px) {
html, body{
background: rgb(225,163,163);
    }
}